body{
    background: rgb(70,142,236);
    font: normal 15pt Arial;
}


header{
    color: white;
    text-align: center;


}


section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 3px 3px 10px white;
}

div {
    text-align: center;
    padding: 5px;
}
img{
    width: 25%;
}
#foto{
    border-radius:50%;
    border-width: 50%;
    scale: 25%;   
     
}

footer{
    color:white;
    text-align: center;
    font-style: bold;


}